<div class="center hero-unit">
	<h1>Welcome to MyShoeFits</h1>

	<%= button_to "List of all customers", index_path, {class: "btn btn-large btn-primary", method: :get} %><br>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org" %>