<div class="page-header">
	<h1>Welcome to MyShoeFits!</h1>
</div>

<% unless session[:CustID] %>
	<p class="row">New to MyShoeFits? <%= link_to "Give it a try!", start_path, method: :get %></p>
<% end %>
<p class="row"><%= link_to "Already a member?", signin_path %></p>